<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.dao.GoodWorkMapper">
  <resultMap id="BaseResultMap" type="com.tech.pojo.GoodWork">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="match_name" jdbcType="VARCHAR" property="matchName" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="clicks" jdbcType="INTEGER" property="clicks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="prize_id" jdbcType="INTEGER" property="prizeId" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tech.pojo.GoodWork">
    <result column="introduce" jdbcType="LONGVARCHAR" property="introduce" />
  </resultMap>
  <sql id="Base_Column_List">
    id, match_name, item_name, cover_url, finish_time, clicks, create_time, update_time,level_id,prize_id
  </sql>
  <sql id="Blob_Column_List">
    introduce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_good_work
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_good_work
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.pojo.GoodWork">
    insert into tbl_good_work (id, match_name, item_name, 
      cover_url, finish_time, clicks, 
      create_time, update_time, introduce,prize_id,level_id
      )
    values (#{id,jdbcType=INTEGER}, #{matchName,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{coverUrl,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}, 0,
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{introduce,jdbcType=LONGVARCHAR},
      #{prizeId,jdbcType=INTEGER},#{levelId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tech.pojo.GoodWork">
    insert into tbl_good_work
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="matchName != null">
        match_name,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="coverUrl != null">
        cover_url,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="clicks != null">
        clicks,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="matchName != null">
        #{matchName,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clicks != null">
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.pojo.GoodWork">
    update tbl_good_work
    <set>
      <if test="matchName != null">
        match_name = #{matchName,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clicks != null">
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tech.pojo.GoodWork">
    update tbl_good_work
    set match_name = #{matchName,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      clicks = #{clicks,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      introduce = #{introduce,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.pojo.GoodWork">
    update tbl_good_work
    set match_name = #{matchName,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      clicks = #{clicks,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllGoodWorks" resultMap="BaseResultMap">
    select
    g.id, match_name, item_name, cover_url, finish_time, clicks, create_time, update_time,level_name,prize_name,(YEAR(finish_time)) year,introduce
    from tbl_good_work g,tbl_levels l,tbl_prize p where level_id = l.id and prize_id = p.id order by id desc
  </select>
    <select id="selectAllCount" resultType="java.lang.Integer">
      select count(*) from tbl_good_work
    </select>
    <select id="selectSeachCount" resultType="java.lang.Integer">
      select
      count(*)
      from tbl_good_work
      where item_name like CONCAT('%',#{key},'%')
    </select>
  <select id="selectSearch" resultType="com.tech.pojo.GoodWork">
    select
    g.id, match_name, item_name, cover_url, finish_time, clicks, create_time, update_time,level_name,prize_name,(YEAR(finish_time)) year,introduce
    from tbl_good_work g,tbl_levels l,tbl_prize p where level_id = l.id and prize_id = p.id and item_name like CONCAT('%',#{key},'%') order by id desc
  </select>
    <select id="selectSearchIndex" resultMap="BaseResultMap" parameterType="map">
      select
      <include refid="Base_Column_List" />
      ,
      <include refid="Blob_Column_List" />
      from tbl_good_work  where
      <if test="condition_year != null and condition_year != ''">
        (YEAR(finish_time)) = #{condition_year} and
      </if>
      <if test="condition_prize != null">
        prize_id = #{condition_prize} and
      </if>
      <if test="condition_level != null">
        level_id = #{condition_level} and
      </if>
        item_name like CONCAT('%',#{key},'%') order by id desc
    </select>
  <select id="selectSearchCountIndex" resultType="java.lang.Integer">
    select count(*) from tbl_good_work  where
    <if test="condition_year != null and condition_year != ''">
      (YEAR(finish_time)) = #{condition_year} and
    </if>
    <if test="condition_prize != null">
      prize_id = #{condition_prize} and
    </if>
    <if test="condition_level != null">
      level_id = #{condition_level} and
    </if>
      item_name like CONCAT('%',#{key},'%')
  </select>
    <select id="selectAllGoodWorksWithCount" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      ,
      <include refid="Blob_Column_List" />
      from tbl_good_work LIMIT #{count}
    </select>
</mapper>