<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.dao.GoodTeacherMapper">
  <resultMap id="BaseResultMap" type="com.tech.pojo.GoodTeacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name_teacher" jdbcType="VARCHAR" property="nameTeacher" />
    <result column="occupation_call" jdbcType="VARCHAR" property="occupationCall" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="research_direction" jdbcType="VARCHAR" property="researchDirection" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="clicks" jdbcType="INTEGER" property="clicks" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tech.pojo.GoodTeacher">
    <result column="introduce" jdbcType="LONGVARCHAR" property="introduce" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name_teacher, occupation_call, image_url, research_direction, phone, email, clicks, 
    creator, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    introduce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_good_teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_good_teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.pojo.GoodTeacher">
    insert into tbl_good_teacher (id, name_teacher, occupation_call, 
      image_url, research_direction, phone, 
      email, clicks, creator, 
      create_time, update_time, introduce
      )
    values (#{id,jdbcType=INTEGER}, #{nameTeacher,jdbcType=VARCHAR}, #{occupationCall,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{researchDirection,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, 0, #{creator,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{introduce,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tech.pojo.GoodTeacher">
    insert into tbl_good_teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nameTeacher != null">
        name_teacher,
      </if>
      <if test="occupationCall != null">
        occupation_call,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="researchDirection != null">
        research_direction,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="clicks != null">
        clicks,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nameTeacher != null">
        #{nameTeacher,jdbcType=VARCHAR},
      </if>
      <if test="occupationCall != null">
        #{occupationCall,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="researchDirection != null">
        #{researchDirection,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="clicks != null">
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.pojo.GoodTeacher">
    update tbl_good_teacher
    <set>
      <if test="nameTeacher != null">
        name_teacher = #{nameTeacher,jdbcType=VARCHAR},
      </if>
      <if test="occupationCall != null">
        occupation_call = #{occupationCall,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="researchDirection != null">
        research_direction = #{researchDirection,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="clicks != null">
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tech.pojo.GoodTeacher">
    update tbl_good_teacher
    set name_teacher = #{nameTeacher,jdbcType=VARCHAR},
      occupation_call = #{occupationCall,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      research_direction = #{researchDirection,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      clicks = #{clicks,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      introduce = #{introduce,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.pojo.GoodTeacher">
    update tbl_good_teacher
    set name_teacher = #{nameTeacher,jdbcType=VARCHAR},
      occupation_call = #{occupationCall,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      research_direction = #{researchDirection,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      clicks = #{clicks,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllGoodTeachers" resultMap="BaseResultMap">
    SELECT * from tbl_good_teacher order by id DESC
  </select>
    <select id="selectAllCount" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM tbl_good_teacher
    </select>
</mapper>