<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.dao.MatchMapper">
  <resultMap id="BaseResultMap" type="com.tech.pojo.Match">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="level_match" jdbcType="INTEGER" property="levelMatch" />
    <result column="name_match" jdbcType="VARCHAR" property="nameMatch" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="clicks" jdbcType="INTEGER" property="clicks" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tech.pojo.Match">
    <result column="introduce" jdbcType="LONGVARCHAR" property="introduce" />
  </resultMap>
  <resultMap extends="ResultMapWithBLOBs" id="ResultMapWithLevelName" type="com.tech.pojo.Match">
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, level_match, name_match, img_url, link_url, create_time, update_time, clicks, 
    priority, start_time, end_time
  </sql>
  <sql id="Blob_Column_List">
    introduce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_match
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_match
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.pojo.Match">
    insert into tbl_match (id, level_match, name_match, 
      img_url, link_url, create_time, 
      update_time, clicks, priority, 
      start_time, end_time, introduce
      )
    values (#{id,jdbcType=INTEGER}, #{levelMatch,jdbcType=INTEGER}, #{nameMatch,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, 0, #{priority,jdbcType=INTEGER},
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{introduce,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tech.pojo.Match">
    insert into tbl_match
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="levelMatch != null">
        level_match,
      </if>
      <if test="nameMatch != null">
        name_match,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="linkUrl != null">
        link_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="clicks != null">
        clicks,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="levelMatch != null">
        #{levelMatch,jdbcType=INTEGER},
      </if>
      <if test="nameMatch != null">
        #{nameMatch,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clicks != null">
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.pojo.Match">
    update tbl_match
    <set>
      <if test="levelMatch != null">
        level_match = #{levelMatch,jdbcType=INTEGER},
      </if>
      <if test="nameMatch != null">
        name_match = #{nameMatch,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clicks != null">
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tech.pojo.Match">
    update tbl_match
    set level_match = #{levelMatch,jdbcType=INTEGER},
      name_match = #{nameMatch,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      clicks = #{clicks,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      introduce = #{introduce,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.pojo.Match">
    update tbl_match
    set level_match = #{levelMatch,jdbcType=INTEGER},
      name_match = #{nameMatch,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      clicks = #{clicks,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllMatches" resultMap="BaseResultMap">
    select
     tm.id,level_match,level_name, name_match, img_url, link_url, create_time, update_time, clicks,
    priority, start_time, end_time,
    <include refid="Blob_Column_List" />
    from tbl_match tm,tbl_levels tl where tm.level_match = tl.id
  </select>
  <select id="selectCountMatches" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    tm.id,level_match,level_name, name_match, img_url, link_url, create_time, update_time, clicks,
    priority, start_time, end_time,
    <include refid="Blob_Column_List" />
    from tbl_match tm,tbl_levels tl where tm.level_match = tl.id ORDER BY priority DESC LIMIT #{counts}
  </select>
    <select id="selectMatchCount" resultType="java.lang.Integer">
      SELECT count(*) from tbl_match
    </select>
</mapper>