<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.dao.PrizeMapper">
  <resultMap id="BaseResultMap" type="com.tech.pojo.Prize">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, prize_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_prize
    where id = #{id,jdbcType=INTEGER}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_prize
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.pojo.Prize">
    insert into tbl_prize (id, prize_name)
    values (#{id,jdbcType=INTEGER}, #{prizeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tech.pojo.Prize">
    insert into tbl_prize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="prizeName != null">
        prize_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null">
        #{prizeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.pojo.Prize">
    update tbl_prize
    <set>
      <if test="prizeName != null">
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.pojo.Prize">
    update tbl_prize
    set prize_name = #{prizeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_prize
  </select>
    <select id="selectIdByName" resultType="java.lang.Integer" parameterType="string">
      select id from tbl_prize where prize_name = #{prizeName}
    </select>

</mapper>